# Titanic Dataset - Exploratory Data Analysis

In this notebook I explore and use the Titanic dataset to understand passenger demographics, survival rates, and relationships between different features. This task uses the titanic dataset from kaggle.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Loading the Dataset
Load the Titanic Dataset into a pandas DataFrame

In [ ]:
# Loading and looking at the dataset

df = pd.read_csv("Titanic-Dataset.csv")

print("Shape", df.shape) # data.shape will return (rows, collums)
display(df.head())       # data.head() returns the first 5 rows
print("\nColumns:", df.columns.tolist())

## Handling Missing Data
Here I check which columns have missing values and decide how to handle them

In [ ]:
# check the null counts of each collumn
df.isna().sum()

In [ ]:
df['Embarked'].unique()

In [ ]:
df[df['Embarked'].isna()]

In [ ]:
df['Embarked'].mode()

In [ ]:
df['Embarked'].fillna('S', inplace=True)    # fill missing values
df['Embarked'].isnull().sum()               # check

In [ ]:
df['Age'].isnull().sum()    # check the missing values for Age

In [ ]:
df['Age'].fillna(df['Age'].median(), inplace=True) 
df['Age'].isnull().sum()

In [ ]:
df.drop(columns=['Cabin'], inplace=True)    # because the Cabin column is mostly missing it is best to drop it

In [ ]:
df.describe(include = 'object') # summary of data

In [ ]:
df.groupby('Sex')['Survived'].mean()    # survival by gender

In [ ]:
df.groupby('Pclass')['Survived'].mean()     # survival by passenger class

## Survival Analysis
I visualize how survival varies by gender and passenger class using bar plots and a heatmap

In [ ]:
sns.barplot(x='Sex', y='Survived', data=df)
plt.title("Survival Rate by Gender")
plt.show()

In [ ]:
sns.barplot(x='Pclass', y='Survived', data=df)
plt.title("Survival Rate by Passenger Class")
plt.show()

In [ ]:
plt.figure(figsize=(8,6))
sns.heatmap(df.corr(numeric_only=True), annot=True, cmap='coolwarm')
plt.title("Correlation Heatmap")
plt.show()